In [10]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')

데이터 수정

In [ ]:
## replace : 데이터 값 변경, inplace=True 지정하기
# 해당되는 값을 다른 값으로 변경
df['학교'].replace({'구로고':'가산고'},inplace=True)  # 1개 넣을때
df['학교'].replace({'구로고':'가산고','디지털고':'단지고'},inplace=True)  # 2개 넣을때

# 특정컬럼 값 변경
# 컬럼 = 변경값을 입력
df['SW특기'] = df['SW특기'].str.lower()  # 소문자로 변경
df['SW특기'].str.upper()  # 대문자로 변경
df['SW특기'].str.capitalize()  # 첫글자만 대문자로 변경
df['키'] = 200

# 특정셀 값을 변경
df.loc['1번','국어'] = 100
df.loc['2번',['국어','영어']] = 10
df.loc[['2번','3번'],['국어','영어']] = 50

# 컬럼명 = 문자+문자
df['학교'] = df['학교'] + '등학교'

C:\Users\KOSMO\AppData\Local\Temp\ipykernel_14504\4088055090.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['학교'].replace({'구로고':'가산고'},inplace=True)  # 1개 넣을때

데이터 추가
* 컬럼을 추가 : df[컬럼명]
* row 추가 : df.loc[index명]

In [12]:
## 데이터 추가
## 컬럼에 없는 컬럼 이름을 입력하면 컬럼이 추가 됨
df['합계'] = 0
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['평균'] = df['합계']/5

조건식을 사용해서 값 변경

In [13]:
# '결과'컬럼 추가
df['결과'] = 'Fail'

# '결과'컬럼에 -> 조건식을 사용해서 값 변경
filt = df['합계']>=400
df.loc[filt,'결과'] = 'Pass'

## 국어점수가 90점 이상이면, df['합산']+100
filt = df['국어']>=90
df.loc[filt,'합산'] = df.loc[filt,'합산']+100

KeyError: '합산'

데이터 삭제
* columns
* index

drop - columns

In [ ]:
# 데이터 삭제 - drop : columns / 적용 : inplace = True
# df.drop(columns=['합산'],inplace=True)
# 컬럼 2개 삭제
df.drop(columns=['국어','영어'])
df.drop(columns=['합계','평균','결과'])

# 전체컬럼의 슬라이싱을 가지고 특정컬럼을 삭제할 수 있음
df.columns[0]
df.columns[3:5]
df.drop(columns=df.columns[3:5])

       이름      학교    키   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래  가산고등학교  200  100  95  85      python  465  93.0  Pass
2번    강태원  가산고등학교  200   50  55  25        java  230  46.0  Fail
3번    강호림  가산고등학교  200   70  80  75  javascript  325  65.0  Fail
4번    김수찬  가산고등학교  200   70  75  80         NaN  325  65.0  Fail
5번    김재욱  가산고등학교  200   10  35  10         NaN   90  18.0  Fail
6번    박동현  단지고등학교  200   95  85  80           c  440  88.0  Pass
7번    박혜정  단지고등학교  200   45  40  35      python  240  48.0  Fail
8번    승근열  단지고등학교  200   90  95  95          c#  465  93.0  Pass

drop - index 삭제

In [14]:
# drop - index 삭제(row값 삭제) / inpleace = true 반영
df.drop(index='1번')
df.head(1)

       이름      학교    키   국어  영어   수학  과학  사회    SW특기   합계    평균    결과
지원번호
1번    강나래  가산고등학교  200  100  85  100  95  85  python  465  93.0  Pass

In [19]:
# 김이 포함되어있는 학생을 삭제하시오.
filt = df['이름'].str.contains('김')
df.drop(index=df[filt].index)

# 수학 80점 미만 삭제
filt = df['수학']>80
filt

# 조건식을 이용한 삭제
df.drop(index=df[filt].index)

       이름      학교    키  국어  영어  수학  과학  사회        SW특기   합계    평균    결과
지원번호
2번    강태원  가산고등학교  200  50  50  50  55  25        java  230  46.0  Fail
3번    강호림  가산고등학교  200  50  50  70  80  75  javascript  325  65.0  Fail
4번    김수찬  가산고등학교  200  40  60  70  75  80         NaN  325  65.0  Fail
5번    김재욱  가산고등학교  200  15  20  10  35  10         NaN   90  18.0  Fail
7번    박혜정  단지고등학교  200  55  65  45  40  35      python  240  48.0  Fail

row 추가

In [22]:
# row 추가 : index이름 추가해서 입력하면 가능, 입력형태 list 입력 하면됨
df.loc['9번'] = ['유승찬','디지털고등학교',184,100,100,100,100,100,'Django',100*5,100/5,'Pass']

In [24]:
# 9번 디지털 고등학교 -> 가산고등학교 / 'Djiango' -> 'Python'
df.loc['9번',['학교','SW특기']] = ['가산고등학교','Python']
df.loc['7번','이름'] = '김혜정'
df

       이름      학교    키   국어   영어   수학   과학   사회        SW특기   합계    평균    결과
지원번호
1번    강나래  가산고등학교  200  100   85  100   95   85      python  465  93.0  Pass
2번    강태원  가산고등학교  200   50   50   50   55   25        java  230  46.0  Fail
3번    강호림  가산고등학교  200   50   50   70   80   75  javascript  325  65.0  Fail
4번    김수찬  가산고등학교  200   40   60   70   75   80         NaN  325  65.0  Fail
5번    김재욱  가산고등학교  200   15   20   10   35   10         NaN   90  18.0  Fail
6번    박동현  단지고등학교  200   80  100   95   85   80           c  440  88.0  Pass
7번    김혜정  단지고등학교  200   55   65   45   40   35      python  240  48.0  Fail
8번    승근열  단지고등학교  200  100   85   90   95   95          c#  465  93.0  Pass
9번    유승찬  가산고등학교  184  100  100  100  100  100      Python  500  20.0  Pass

In [ ]:
df.columns[3:5]
df.drop(columns=df.columns[3:5])

       이름       학교    키   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래   구로고등학교  197  100  95  85      Python  465  93.0  Pass
2번    강태원   구로고등학교  184   50  55  25        Java  230  46.0  Fail
3번    강호림   구로고등학교  168   70  80  75  Javascript  325  65.0  Fail
4번    김수찬   구로고등학교  187   70  75  80         NaN  325  65.0  Fail
5번    김재욱   구로고등학교  188   10  35  10         NaN   90  18.0  Fail
6번    박동현  디지털고등학교  202   95  85  80           C  440  88.0  Pass
7번    박혜정  디지털고등학교  188   45  40  35      PYTHON  240  48.0  Fail
8번    승근열  디지털고등학교  190   90  95  95          C#  465  93.0  Pass

In [25]:
df

       이름      학교    키   국어   영어   수학   과학   사회        SW특기   합계    평균    결과
지원번호
1번    강나래  가산고등학교  200  100   85  100   95   85      python  465  93.0  Pass
2번    강태원  가산고등학교  200   50   50   50   55   25        java  230  46.0  Fail
3번    강호림  가산고등학교  200   50   50   70   80   75  javascript  325  65.0  Fail
4번    김수찬  가산고등학교  200   40   60   70   75   80         NaN  325  65.0  Fail
5번    김재욱  가산고등학교  200   15   20   10   35   10         NaN   90  18.0  Fail
6번    박동현  단지고등학교  200   80  100   95   85   80           c  440  88.0  Pass
7번    김혜정  단지고등학교  200   55   65   45   40   35      python  240  48.0  Fail
8번    승근열  단지고등학교  200  100   85   90   95   95          c#  465  93.0  Pass
9번    유승찬  가산고등학교  184  100  100  100  100  100      Python  500  20.0  Pass